<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sara.aoc.y2019">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MealsActivity"></activity>
        <activity android:name=".PreparedRecipeActivity" />
        <activity android:name=".CheckedActivity" />
        <activity android:name=".ExperimentActivity" />
        <activity android:name=".AllRecipesActivity" />
        <activity android:name=".AddRecipeActivity" />
        <activity android:name=".SweetsActivity" />
        <activity android:name=".DinnerActivity" />
        <activity android:name=".LunchActivity" />
        <activity android:name=".RecipeActivity" />
        <activity android:name=".IngredientsExpandableListActivity" />
        <activity android:name=".BreakfastActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>